body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #94817E;
    font-size: medium !important;
}

/* tital container */
.header .custom-button {
    border-radius: 40px;
    font-size: large;
    background-color: #fe5f41;
}

.header .custom-button:hover {
    background-color: #e74929;
}

.bg-custom {
    background-color: #fff4f2;
}