body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #94817E;
    font-size: medium !important;
}


/* tital container */
.header .custom-button {
    border-radius: 40px;
    font-size: large;
    background-color: #fe5f41;
}

.header .custom-button:hover {
    background-color: #e74929;
}

.bg-custom {
    background-color: #fff4f2;
}

/* <!-- "Best way to eat healthy food" container --> */
.healthy-meal .cards {
    border: #d1c9c8 solid 1px;
    border-radius: 10px;
}

.healthy-meal .cards:hover {
    border: #f1edec00 solid 1px;
    border-radius: 0;
    box-shadow: 1px 1px 20px #f1edec9d;
}

.healthy-meal i {
    color: #fe5f41;
    padding: 20px;
    font-size: xx-large;
    border-radius: 50%;
    background-color: #ffeee9;
}

/* <!-- Menu container --> */

.menu-container {
    background-color: #4c322d;
}

.menu-container .custom-button {
    border-radius: 40px;
    font-size: large;
    background-color: #fe5f41;
}

/*  */
/*  */
/*  */

/* <!-- Menu container --> */
* menu container */
.nav-link>div:hover {
    border-bottom: #fe5f41 solid 4px;
}

#insertMenu:hover {
    background-color: #fe5f41;
    color: white !important;
}

.menu-button-focus {
    border-bottom: #fe5f41 solid 4px;

}

.menu-button-focus-off {
    border-bottom: none;

}

.menu-item-focus {
    display: block;
}

.menu-item-focus-off {
    display: none;
}

#menu .cards {
    border: #d1c9c8 solid 1px;
    border-radius: 10px;
    background-color: white;
}

#menu .cards:hover {
    border: #f1edec00 solid 1px;
    border-radius: 0;
    box-shadow: 1px 1px 20px #f1edec9d;
}

#menu #menuItem img {
    width: 150px;
    height: 150px;
}

#menu .price {
    background-color: #fe5f41;
}

#menu .description {
    min-height: 100px;
    overflow: hidden;
}

#menu .delete-item {

    height: 80px;
    width: 50px;
}
#menu .delete-item .edit a{
    padding: 16px;
}
#menu .delete-item .delete a{
    padding: 16px 19px;
    /* height: 60px; */
    /* width: 60px; */
}

.for-delete:hover .delete-item a{
    background-color: #fe5f41;
}

#menu .delete-item a:link {
    color: white;
}

#menu .delete-item a:visited {

    color: white;
}

#menu .delete-item a:hover {
    color: white;
    background-color: #e74929;
}

#menu .delete-item a:active {
    color: white;
}


/*  */
/*  */
/*  */

/* <!-- reservation container --> */
.reserve-container .custom-button {
    background-color: #fe5f41;
}

.reserve-container .custom-button:hover {
    background-color: #e74929;
}

form span {
    color: red;
    font-size: small;
}