#topHeader {
    font-family: 'mitr', Arial, Helvetica, sans-serif;
    color: #4d312c ;
}

.logo {
    font-size: x-large;
    font-weight: 600;
    font-family: 'Rampart One' !important;
}

.logo>i {
    border: 2px solid;
    color: white !important;
    border-radius: 100%;
    background-color: #fe5f41;
    outline: 2px solid #fe5f41;
}

.custom-button {
    border-radius: 20px;
    font-weight: 400;
    background-color: #fe5f41;
}
.custom-button:hover {
    background-color: #e74929;
}

#topHeader .nav-links  a:link {
    color: #4d312c;
    text-decoration: none;
    border-bottom: #fe614100 solid 4px !important;
}

#topHeader .nav-links  a:visited {
    color: #4d312c;
    text-decoration: none;
    border-bottom: #fe614100 solid 4px !important;
}

#topHeader .nav-links a:hover {
    color: #fe5f41;
    border-bottom: #fe5f41 solid 4px !important;
}

#topHeader .nav-links a:active {
    color: #4d312c;
    text-decoration: none;
    border-bottom: #fe614100 solid 4px !important;
}